html{
  padding: 0;
}
body{
  margin: 0;
}
#headBox{
  width: 100%;
  height: 35px;
  background:  #439c92;
}
#topBox{
  height: 40px;
  background: #2E3740;
}
.mobileInput{
  margin-left:40px;
  margin-top: 6px;
  height: 20px;
  border-radius: 10px;
}
.btnQuery{
  background: #439c92;
  margin-left: 10px;
  height: 25px;
  width: 90px;
  border-radius: 10px;
  color: white;
  border: 0;
}
.log{
  height: 26px;
  width: 26px;
  margin-right: 30px;
}

#mainBox{
  width: 100%;
  /*height: 500px;*/
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
#svgBox{
  /*border: solid #dcdcdc 1px;*/
  border-right:solid #dcdcdc 1px; 
  padding-bottom: 0;
  margin-top: 0px;
}
#cutlineBox{
  margin-top: 0;
  height: 50px; 
  position: absolute;
  z-index: 1;
  top: 100px;
}
div#infoBox{
  width: 250px;
  float: right;
  margin-right: 8%;
  margin-top: 20px;
  font-family: 微软雅黑;
}
#mobileInfo p{
  font-weight: bold;
  font-size: 30;
}
div#infoBox tr td:nth-child(1){
      width:120px;
}
div#infoBox tr td:nth-child(2){
      /*text-align:center;*/
}
#enlarge{
  margin-left: 120px;
}
.zoomBtn{
  height: 20px;
  width: 40px;
  border: 0;
  background: #439c92;
  color: white;
  margin-left: 20px;
}

.spinner {
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
  position:absolute;
  z-index: 1;
}
 
.spinner > div {
  background-color: #439c92;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-right: 4px;
   
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
 
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) } 
  20% { -webkit-transform: scaleY(1.0) }
}
 
@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#tooltip {   
      position: absolute;           
      text-align: center;
      padding: 20px;             
      margin: 10px;
      font: 12px sans-serif;        
      /*background: lightsteelblue;   */
      border: 1px;      
      border-radius: 2px;           
      pointer-events: none;
      left: 0px;
      top: 0px;        
    }
    #tooltip h4{
      margin:0;
      font-size:14px;
    }
    #tooltip{
      background:rgba(0,0,0,0);
      border:1px solid blue;
      border-radius:5px;
      font-size:12px;
      width:auto;
      padding:4px;
      color:blue;
      opacity:0;
    }
    #tooltip table{
      table-layout:fixed;
    }
    #tooltip tr td{
      padding:0;
      margin:0;
    }
    #tooltip tr td:nth-child(1){
      width:70px;
    }
    #tooltip tr td:nth-child(2){
      text-align:center;
    }



.testswitch {  
    position: relative;    
    width: 120px;
    margin-left: 0;
    /*margin-right: 400px;*/
   /* margin-top: 10px; */      
}  
  
.testswitch-checkbox {  
    display: none;  
}  
  
.testswitch-label {  
    display: block;   
    overflow: hidden;   
    cursor: pointer;  
    border-radius: 0;  
}  
  
.testswitch-inner {  
    display: block;   
    width: 200%;   
    margin-left: -100%;  
    transition: margin 0.3s ease-in 0s;  
}  
  
.testswitch-inner::before, .testswitch-inner::after {  
    display: block;   
    float: right;   
    width: 50%;   
    height: 30px;   
    padding: 0;   
    line-height: 30px;  
    font-size: 14px;   
    color: white;   
    font-family:   
    Trebuchet, Arial, sans-serif;   
    font-weight: bold;  
    box-sizing: border-box;  
}  
  
.testswitch-inner::after {  
    content: attr(data-on);  
    padding-left: 10px;  
    background-color: green;   
    color: #FFFFFF;  
}  
  
.testswitch-inner::before {  
    content: attr(data-off);  
    padding-right: 10px;  
    background-color: #009ACD;   
    color: #ffffff;  
    text-align: right;  
}  
  
.testswitch-switch {  
    position: absolute;   
    display: block;   
    width: 26px;  
    height: 26px;  
    margin: 2px;  
    background: #FFFFFF;  
    top: 0;   
    bottom: 0;  
    right: 90px;  
    /*border: 2px solid #999999;   */
    border-radius: 0;  
    transition: all 0.3s ease-in 0s;  
}  
  
.testswitch-checkbox:checked + .testswitch-label .testswitch-inner {  
    margin-left: 0;  
}  
  
.testswitch-checkbox:checked + .testswitch-label .testswitch-switch {  
    right: 0px;   
}  
